.remove-btn{
    margin-right: 0.5rem;
}

.fade-enter{
    opacity: 0.01;
    }
    .fade-enter-active{
    opacity: 1;
    transition: ease-in 1000s;
    }
    .fade-exit{
    opacity:'1'
    }
    .fade-enter-exist{
    opacity: 0.01;
    transition: ease-out 1000s;
    }